{% extends 'layouts/admin.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-9 main-chart">

            <div class="row mtbox">
                <div class="col-md-2 col-sm-2 col-md-offset-2 box0">
                    <div class="box1">
                        <span class="li_stack"></span>
                        <h3>{{ projects_in_progress|length }}</h3>
                    </div>
                    <p>{{ projects_in_progress|length }} projets en réalisation</p>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <span class="li_cloud"></span>
                        <h3>{{ delivered_projects|length }}</h3>
                    </div>
                    <p>{{ delivered_projects|length }} projets livrés</p>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <span class="li_user"></span>
                        <h3>{{ employee_list|length }}</h3>
                    </div>
                    <p>{{ employee_list|length }} employés enregistrés</p>
                </div>
                <div class="col-md-2 col-sm-2 box0">
                    <div class="box1">
                        <span class="li_heart"></span>
                        <h3>{{ total_days }}</h3>
                    </div>
                    <p>{{ total_days }} jours de production</p>
                </div>
            </div>
            <!-- /row mt -->

            <div class="row mt">
                <div class="col-md-4 col-sm-4 mb">
                    <div class="white-panel pn donut-chart">
                        <div class="white-header">
                            <h5>RENTABILITE</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6 goleft">
                                <p>
                                    <i class="fa fa-database"></i> {{ total_projects_capex|number_format(2, '.', ',') }}% CAPEX</p>
                            </div>
                        </div>
                        <canvas id="ratio" height="120" width="120"></canvas>
                        <script>
                            var doughnutData = [{ value: {{ total_projects_capex }}, color: "#68dff0" }, { value: {{ total_projects_opex }}, color: "#fdfdfd" }];
                            var myDoughnut = new Chart(document.getElementById("ratio").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <!--/grey-panel -->
                </div>

                <div class="col-md-4 col-sm-4 mb">
                    <div class="white-panel pn donut-chart">
                        <div class="white-header">
                            <h5>TAUX DE LIVRAISON</h5>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-6 goleft">
                                <p>
                                    <i class="fa fa-cloud"></i> {{ total_projects_delivered|number_format(2, '.', ',') }}% LIVRES</p>
                            </div>
                        </div>
                        <canvas id="ratio2" height="120" width="120"></canvas>
                        <script>
                            var doughnutData = [{ value: {{ total_projects_delivered }}, color: "#68dff0" }, { value: {{ total_projects_not_delivered }}, color: "#fdfdfd" }];
                            var myDoughnut = new Chart(document.getElementById("ratio2").getContext("2d")).Doughnut(doughnutData);
                        </script>
                    </div>
                    <!--/grey-panel -->
                </div>

                <div class="col-md-4 mb">
                    <!-- WHITE PANEL - TOP USER -->
                    <div class="white-panel pn">
                        <div class="white-header">
                            <h5>TOP EMPLOYE</h5>
                        </div>
                        <p>
                            <img src="{{ asset('public/img/ui-zac.jpg') }}" class="img-circle" width="80">
                        </p>
                        <p>
                            <b>Zac Producteur</b>
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <p class="small mt">EMPLOYE DEPUIS</p>
                                <p>2012</p>
                            </div>
                            <div class="col-md-6">
                                <p class="small mt">TOTAL DEPENSE</p>
                                <p>34 567 €</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /col-md-4 -->

            </div>
            <!-- /row -->

            {{ include('backoffice/project/project-list-table.html.twig') }}

        </div>
        <!-- /col-lg-9 END SECTION MIDDLE -->

        <!-- ***********************************************************************************************************************************************
        RIGHT SIDEBAR CONTENT
        ************************************************************************************************************************************************ -->

        <div class="col-lg-3 ds">
            <h3>TEMPS DE PRODUCTION</h3>

            {% for production_time in recent_production_times %}
                <div class="desc">
                    <div class="thumb">
                    <span class="badge bg-theme">
                        <i class="fa fa-clock-o"></i>
                    </span>
                    </div>
                    <div class="details">
                        <p>
                            <a href="{{ path('back_timetracking_employee',{id:production_time.employee.id}) }}">{{ production_time.employee.name }} {{ production_time.employee.lastName }}</a> a travaillé sur
                            <a href="{{ path('back_timetracking_project',{id:production_time.project.id}) }}">{{ production_time.project.title }}</a>.
                            <br/>
                            <muted>{{ production_time.daysWorked }} JOURS</muted>
                        </p>
                    </div>
                </div>
            {% else %}
                <div class="desc" style="text-align: center">
                    <h4>Aucun temps enregistré</h4>
                </div>
            {% endfor %}
        </div>
        <!-- /col-lg-3 -->
    </div>
{% endblock %}
