<h4>Historique des temps de production :</h4>
<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th>Dénomination</th>
        <th>Temps</th>
        <th>Date de saisie</th>
        <th>Coût</th>
    </tr>
    </thead>
    <tbody>
    {% for production_time in production_time_list %}
        <tr>
            <th><a href="{{ path('back_timetracking_employee',{id:production_time.employee.id}) }}">{{ production_time.employee.name }} {{ production_time.employee.lastName }}</a></th>
            <th>{{ production_time.daysWorked }} j</th>
            <th>{{ production_time.registeredDate|date('d M Y') }}</th>
            <th>{{ production_time.cost }} €</th>
        </tr>
    {% else %}
        <tr><td colspan="5" style="text-align: center">Aucun temps enregistré</td></tr>
    {% endfor %}
    </tbody>
</table>
<div class="col-md-12 col-sm-12">
    <div class="navigation text-center">
        {{ knp_pagination_render(production_time_list) }}
    </div>
</div>