<div class="row">
    <div class="form-panel">
        <h4 class="mb"><i class="fa fa-angle-right"></i> Ajouter un temps</h4>
        {{ form_start(form, {'attr':{'class':'form-horizontal style-form'}}, {'action': path(form_settings.action, {id:employee.id}), 'method': form_settings.method}) }}
        <div class="form-group">
            {{ form_errors(form.employee) }}
            {{ form_label(form.employee) }}
            <div class="col-sm-10">
                {{ form_widget(form.employee) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.days_worked) }}
            <div class="col-sm-10">
                {{ form_errors(form.days_worked) }}
                {{ form_widget(form.days_worked) }}
            </div>
        </div>

        {{ form_rest(form) }}
        <button type="submit" class="btn btn-sm btn-success">Enregistrer</button>
        {{ form_end(form) }}
    </div>
</div>