<div class="row">
    <div class="form-panel">
        <table class="table table-bordered table-striped table-condensed">
            <tbody>
            <tr><th>Projet</th><td>{{ project.title|capitalize }}</td></tr>
            <tr><th>Type</th><td>{{ project.projectType.description|upper }}</td></tr>
            <tr><th>Date de création</th><td>{{ project.creationDate|date('d M Y') }}</td></tr>
            <tr><th>Coût total</th><td>{{ project.totalCost }} €</td></tr>
            </tbody>
        </table>
        {% if project.deliveryStatus == 0 %}
            <a class="btn btn-success btn-sm" href="{{ path('back_edit_project', {id:project.id}) }}">Modifier</a>
            <a class="btn btn-danger btn-sm" onclick="deliverProject({{ project.id }})">Livrer le projet</a>
        {% endif %}
    </div>
</div>