<div class="row">
    <div class="col-lg-12 main-chart">
        <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
                <th>Projet</th>
                <th>Type</th>
                <th>Date</th>
                <th>Coût</th>
                <th>Livré ?</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for project in project_list %}
                <tr>

                    <th>{{ project.title|capitalize }}</th>
                    <th>{{ project.ProjectType.description|upper }}</th>
                    <th>{{ project.creationDate|date('d/m/y') }}</th>
                    <th>{{ project.totalCost }} €</th>
                    <th>
                        {% if project.deliveryStatus != 1 %}
                            <span class="label label-danger label-mini">NON</span>
                        {% else %}
                            <span class="label label-success label-mini">OUI</span>
                        {% endif %}
                    </th>
                    <th>
                        <a href="{{ path('back_timetracking_project', {id:project.id}) }}"
                           class="btn btn-success btn-xs" title="Temps de production">
                            <i class="fa fa-clock-o"></i>
                        </a>
                        {% if project.deliveryStatus == 0 %}
                            <a href="{{ path('back_edit_project', {id: project.id}) }}"
                               class="btn btn-primary btn-xs" title="Modifier">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a onclick="deleteProject({{ project.id }})"
                               class="btn btn-danger btn-xs" title="Supprimer">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        {% endif %}
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navigation text-center">
        {{ knp_pagination_render(project_list) }}
    </div>
</div>