{% extends 'layouts/admin.html.twig' %}
{% block title %} {{ view_settings.title }} {% endblock %}
{% block body %}
    <h3><i class="fa fa-angle-right"></i> {{ view_settings.header_title }}</h3>
    {% if app.request.get('_route') != 'back_insert_project' %}
        <button onclick="deliverProject({{ project.id }})" class="btn btn-danger btn-sm pull-right">Livrer projet</button>
    {% endif %}
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="form-panel">
                    {{ form_start(form, {'action': path(form_settings.action, {id:project.id}), 'method': form_settings.method}) }}
                    <div class="form-group">
                        <div class="col-sm-2">
                            {{ form_label(form.title) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.title) }}
                            {{ form_errors(form.title) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_label(form.description) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.description) }}
                            {{ form_errors(form.description) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_label(form.creationDate) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.creationDate) }}
                            {{ form_errors(form.creationDate) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_label(form.project_type) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.project_type) }}
                            {{ form_errors(form.project_type) }}
                        </div>
                    </div>
                    {% if error is defined %}
                        <br>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ error }}
                        </div>
                    {% endif %}
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-sm btn-success">Enregistrer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/app/project/project.js') }}"></script>
{% endblock %}