{% extends 'layouts/admin.html.twig' %}
{% block body %}
    <h3><i class="fa fa-angle-right"></i> Suivi du projet {{ project.title|capitalize }}</h3>

    <div class="row">
        <div class="col-lg-5">
            {{ include('backoffice/production_time/project/project_detail.html.twig') }}
            {% if project.deliveryStatus == 0 %}
                {{ include('backoffice/production_time/project/project-production_time-form.html.twig') }}
            {% endif %}
        </div>
        <div class="col-lg-7 main-chart">
            {{ include('backoffice/production_time/project/project-production_time-list.html.twig') }}
        </div>
    </div>
    <!--/row -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/app/project/project.js') }}"></script>
{% endblock %}