{% extends 'layouts/admin.html.twig' %}

{% block body %}
    <h3 id="content_title"><i class="fa fa-angle-right"></i> Gestion des projets</h3>
    <a class="btn btn-success btn-sm pull-right" href="{{ path('back_insert_project') }}">Ajouter un projet</a>
    {{ include('backoffice/project/project-list-table.html.twig') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/app/project/project.js') }}"></script>
{% endblock %}