{% extends 'base.html.twig' %}
{% block stylesheets %}{{ parent() }}{% endblock %}

{% block top_bar %}
    <!-- ****************************************************************
     TOP BAR CONTENT & NOTIFICATIONS
     ******************************************************************** -->
    <!--header start-->
    <header class="header black-bg">
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="{{ path('homepage') }}" class="logo">
            <b>PROCOST</b>
        </a>
        <!--logo end-->
        <div class="search-engine">
            <div class="pull-right">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Recherche">
                    </div>
                    <button type="button" class="btn btn-theme">OK</button>
                </form>
            </div>
        </div>
    </header>
    <!--header end-->
{% endblock %}

{% block main_sidebar %}
    <!-- ****************************************************************
    MAIN SIDEBAR MENU
    ******************************************************************** -->
    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <p class="centered">
                        <img src="{{ asset('public/img/ui-sam.jpg') }}" class="img-circle" width="60">
                    </p>
                    <h5 class="centered">Marcel Director</h5>
                </li>
                <li class="mt">
                    <a class="{{ app.request.get('_route') == 'homepage' ? 'active' }}" href="{{ path('homepage') }}">
                        <i class="fa fa-dashboard"></i>
                        <span>Tableau de bord</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a class="{{ 'project' in app.request.get('_route')  ? 'active' }}" href="{{ path('back_projects') }}">
                        <i class="fa fa-desktop"></i>
                        <span>Les projets</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a class="{{ 'employee' in app.request.get('_route') ? 'active' }}" href="{{ path('back_employees') }}">
                        <i class="fa fa-users"></i>
                        <span>Les employés</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a class="{{ 'job' in app.request.get('_route') ? 'active' }}" href="{{ path('back_jobs') }}">
                        <i class="fa fa-book"></i>
                        <span>Les métiers</span>
                    </a>
                </li>
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!--sidebar end-->
{% endblock %}