<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A web application propulsed by Symfony">
        <meta name="author" content="LPSIL">
        <title>{% block title %}PROCOST - Projects costs calculation with Symfony{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <!-- Bootstrap core CSS -->
            <link href="{{ asset('public/css/bootstrap.css') }}" rel="stylesheet">
            <!--external css-->
            <link href="{{ asset('public/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
            <link rel="stylesheet" type="text/css" href="{{ asset('public//js/gritter/css/jquery.gritter.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('public/lineicons/style.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('public/css/toastr.css') }}">
            <!-- Custom styles for this template -->
            <link href="{{ asset('public/css/style.css') }}" rel="stylesheet">
            <link href="{{ asset('public/css/style-responsive.css') }}" rel="stylesheet">
            <script src="{{ asset('public/js/chart-master/Chart.js') }}"></script>
            <link href="{{ asset('public/css/paginator.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <section id="container">
            {% block top_bar %}{% endblock %}
            {% block main_sidebar %}{% endblock %}
        </section>

        <section id="main-content">
            <section class="wrapper">
                {% block body %}{% endblock %}
            </section>
            <footer>
                {% block footer %}
                    <div class="text-center">
                        2018 - Symfony PROCOST
                        <a href="#" class="go-top">
                            <i class="fa fa-angle-up"></i>
                        </a>
                    </div>
                {% endblock %}
            </footer>
        </section>

        {% block javascripts %}
            <!-- js placed at the end of the document so the pages load faster -->
            <script src="{{ asset('public/js/jquery.js') }}"></script>
            <script src="{{ asset('public/js/jquery-1.8.3.min.js') }}"></script>
            <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
            <script class="include" type="text/javascript" src="{{ asset('public/js/jquery.dcjqaccordion.2.7.js') }}"></script>
            <script src="{{ asset('public/js/jquery.scrollTo.min.js') }}"></script>
            <script src="{{ asset('public/js/jquery.nicescroll.js') }}" type="text/javascript"></script>
            <script src="{{ asset('public/js/jquery.sparkline.js') }}"></script>

            <!--common script for all pages-->
            <script src="{{ asset('public/js/common-scripts.js') }}"></script>
            <script src="{{ asset('public/js/gritter/js/jquery.gritter.js') }}"></script>
            <script src="{{ asset('public/js/gritter-conf.js') }}"></script>

            <!--script for this page-->
            <script src="{{ asset('public/js/sparkline-chart.js') }}"></script>

            <!-- Sweet Alert 2 -->
            <script src="{{ asset('public/js/sweet-alert-2/sweet-alert-2.js') }}"></script>
        {% endblock %}
    </body>
</html>
