<h4>Historique des temps de production :</h4>
<table class="table table-bordered table-striped table-condensed">
    <thead>
    <tr>
        <th>Projet</th>
        <th>Temps</th>
        <th>Date de saisie</th>
        <th>Coût</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for production_time in production_time_list %}
        <tr>
            <th><a href="{{ path('back_timetracking_project', {id:production_time.project.id}) }}">{{ production_time.project.title }}</a></th>
            <th>{{ production_time.daysWorked }} j</th>
            <th>{{ production_time.registeredDate|date('d/M/Y') }}</th>
            <th>{{ production_time.cost }} €</th>
            <th>
                <a onclick="deleteProductionTime({{ production_time.id }}, {{ production_time.employee.id }}, {{ production_time.project.id }})" class="btn btn-danger btn-xs">
                    <i class="fa fa-trash-o"></i>
                </a>
            </th>
        </tr>
    {% else %}
        <tr><td colspan="5" style="text-align: center">Aucun temps enregistré</td></tr>
    {% endfor %}
    </tbody>
</table>
<div class="col-md-12 col-sm-12">
    <div class="navigation text-center">
        {{ knp_pagination_render(production_time_list) }}
    </div>
</div>