<div class="row">
    <div class="form-panel">
        <table class="table table-bordered table-striped table-condensed">
            <tbody>
            <tr><th>Prénom</th><td>{{ employee.name|capitalize }}</td></tr>
            <tr><th>Nom</th><td>{{ employee.lastName|upper }}</td></tr>
            <tr><th>Email</th><td>{{ employee.email }}</td></tr>
            <tr><th>Métier</th><td>{{ employee.employeeJob.description }}</td></tr>
            <tr><th>Coût (jour)</th><td>{{ employee.dailyCost }}</td></tr>
            <tr><th>Date d'embauche</th><td>{{ employee.hiringDate|date('d M Y') }}</td></tr>
            </tbody>
        </table>
        <a class="btn btn-success btn-sm" href="{{ path('back_edit_employee', {id:employee.id}) }}">Modifier</a>
        <a class="btn btn-{{ employee.status != 1 ? 'warning' : 'danger' }} btn-sm"
           onclick="statusEmployee({{ employee.id }}, {{ employee.status }})">{{ employee.status != 1 ? 'Réactiver' : 'Archiver' }}</a>
    </div>
</div>