{% extends 'layouts/admin.html.twig' %}

{% block body %}
    <h3 id="content_title"><i class="fa fa-angle-right"></i> Gestion des employés</h3>
    <a class="btn btn-success btn-sm pull-right" href="{{ path('back_insert_employee') }}">Ajouter un employé</a>
    <div class="row">
        <div class="col-lg-12 main-chart">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>Dénomination</th>
                    <th>Email</th>
                    <th>Métier</th>
                    <th>Coût (jour)</th>
                    <th>Embauche</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for employee in employee_list %}
                    <tr>

                        <th class="{{ employee.status != 1 ? 'strike-text' }}">{{ employee.name|capitalize }} {{ employee.lastname|upper }}</th>
                        <th class="{{ employee.status != 1 ? 'strike-text' }}">{{ employee.email }}</th>
                        <th class="{{ employee.status != 1 ? 'strike-text' }}">{{ employee.employeeJob.description }}</th>
                        <th class="{{ employee.status != 1 ? 'strike-text' }}">{{ employee.dailyCost }}</th>
                        <th class="{{ employee.status != 1 ? 'strike-text' }}">{{ employee.hiringDate|localizeddate('none', 'none', null, null, 'MMMM yyyy') }}</th>
                        <th>
                            <a href="{{ path('back_timetracking_employee', {id:employee.id}) }}"
                               class="btn btn-success btn-xs {{ employee.status != 1 ? 'disabled' }}" title="Temps de production">
                                <i class="fa fa-clock-o"></i>
                            </a>
                            <a href="{{ path('back_edit_employee', {id: employee.id}) }}"
                               class="btn btn-primary btn-xs" title="Modifier">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a onclick="statusEmployee({{ employee.id }}, {{ employee.status }})"
                               class="btn btn-{{ employee.status != 1 ? 'warning' : 'danger' }} btn-xs" title="{{ employee.status != 1 ? 'Réactiver' : 'Archiver' }}">
                                <i class="{{ employee.status != 1 ? 'fa fa-mail-reply': 'fa fa-folder-o' }}"></i>
                            </a>
                        </th>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="navigation text-center">
            {{ knp_pagination_render(employee_list) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/app/employee/employee.js') }}"></script>
{% endblock %}