{% extends 'layouts/admin.html.twig' %}
{% block body %}
    <h3><i class="fa fa-angle-right"></i> Suivi de {{ employee.name|capitalize }} {{ employee.lastName|upper }}</h3>

    <div class="row">
        <div class="col-lg-5">
            {{ include('backoffice/production_time/employee/employee_detail.html.twig') }}
            {{ include('backoffice/production_time/employee/employee-production_time-form.html.twig') }}
        </div>
        <div class="col-lg-7 main-chart">
            {{ include('backoffice/production_time/employee/employee-production_time-list.html.twig') }}
        </div>
    </div>
    <!--/row -->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/app/employee/employee.js') }}"></script>
    <script src="{{ asset('public/js/app/production_time/production_time.js') }}"></script>
{% endblock %}