{% extends 'layouts/admin.html.twig' %}
{% block title %} {{ view_settings.title }} {% endblock %}
{% block body %}
    <h3><i class="fa fa-angle-right"></i> {{ view_settings.header_title }}</h3>

    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="form-panel">
                    {{ form_start(form, {'action': path(form_settings.action, {id:employee.id}), 'method': form_settings.method}) }}
                    <div class="form-group">
                        <div class="col-sm-2">
                            {{ form_label(form.name) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.name) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_label(form.lastName) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.lastName) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_label(form.email) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.email) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_label(form.hiringDate) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.hiringDate) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_label(form.dailyCost) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.dailyCost) }}
                        </div>
                        <div class="col-sm-2">
                            {{ form_label(form.employee_job) }}
                        </div>
                        <div class="col-sm-10">
                            {{ form_widget(form.employee_job) }}
                        </div>
                    </div>
                    {% if error is defined %}
                        <br>
                        <div class="alert alert-danger" role="alert">
                            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                            <span class="sr-only">Error:</span>
                            {{ error }}
                        </div>
                    {% endif %}
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-sm btn-success">Enregistrer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}