{% extends 'layouts/admin.html.twig' %}
{% block title %} {{ view_settings.title }} {% endblock %}
{% block body %}
    <h3><i class="fa fa-angle-right"></i> {{ view_settings.header_title }}</h3>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="form-panel">
                    {{ form_start(form, {'action': path(form_settings.action, {id:job.id}), 'method': form_settings.method}) }}
                        <div class="form-group">
                            {{ form_errors(form.description) }}
                            {{ form_label(form.description, form.description, {'label_attr' : {'class' : 'col-sm-2 col-sm-2 control-label'} }) }}
                            <div class="col-sm-10">
                                {{ form_widget(form.description,{'attr' : {'class' : 'form-control', 'placeholder' : form.description.vars.label } }) }}
                                {% if error is defined %}
                                    <br>
                                    <div class="alert alert-danger" role="alert">
                                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Error:</span>
                                        {{ error }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        <button type="submit" class="btn btn-sm btn-success">Enregistrer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}