{% extends 'layouts/admin.html.twig' %}
{% block title %}PROCOST - Liste des métiers{% endblock %}
{% block body %}
    <h3><i class="fa fa-angle-right"></i> Gestion des métiers</h3>
    <a class="btn btn-success btn-sm pull-right" href="{{ path('back_insert_jobs') }}">Ajouter un métier</a>

    <div class="row">
        <div class="col-lg-12 main-chart">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>Métier</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>

                {% for job in job_list %}
                    <tr>
                        <td>{{ job.description }}</td>
                        <td>
                            <a title="Modifier" href="{{ path('back_edit_jobs', {id: job.id}) }}" class="btn btn-primary btn-xs">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a title="Changer disponibilité" onclick="deleteJob({{ job.id }})" class="btn btn-danger btn-xs">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-2 col-sm-2 col-md-offset-5">
            <div class="navigation text-center">
                {{ knp_pagination_render(job_list) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/app/job/job.js') }}"></script>
{% endblock %}